

<div class="profile-section">
  <div class="container">
    <div class="row">
      <div class="profile-title">
        <h1>Search History</h1>
      </div>

      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

