{{! <!DOCTYPE html>
<html lang="en">
​
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delcioso</title>
  </head>
​
  <body class="bg-gray-100">
    <h1 class="text-bold text-6xl text-center p-8">WHAT INGREDIENTS DO YOU HAVE?</h1>
    <!-- This is where all API data will be routed to -->
    <div id="app" class="min-h-screen flex flex-col justify-center items-center gap-2"></div>
    <script type="module" src="/main.js"></script>
  </body> }}
​

<div class="profile-section">
  <div class="container">
    <div class="row">
      <div class="profile-title">
        <h1>Search History</h1>
      </div>

      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img
              class="img-size-profile"
              src="./public/img/vegetable-10.jpg"
              alt=""
            />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>